

.spec{
    width: 30%;
    height: 90%;
}

    

.specCard{
    display: flex; 
    width: 80%;
    height: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    font-family: Pixel;
    -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
    animation: myAnim 1s ease 0s 1 normal forwards;
    overflow-x: hidden; overflow-y:hidden;
    background: rgb(226, 226, 226);
     box-shadow: 16px 0 rgb(218, 218, 218), -16px 0 rgb(218, 218, 218), 0 -16px rgb(218, 218, 218), 0 16px rgb(218, 218, 218), 4px 0 0 8px rgb(218, 218, 218), -4px 0 0 8px rgb(218, 218, 218), 0 -4px 0 8px rgb(218, 218, 218), 0 4px 0 8px rgb(218, 218, 218), 20px 0 orange, -20px 0 orange, 0 -20px orange, 0 20px orange, 0 0 0 12px orange, 0 8px 0 8px orange, 0 -8px 0 8px orange, 8px 0 0 8px orange, -8px 0 0 8px orange;
	 margin: 20px auto; 
    
    
}
.typesContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 16px;
  margin-top: 10px;
  -webkit-animation: cssAnimation 0.7s forwards;
  animation: cssAnimation 0.7s forwards; 
}
.typesContainer>h3{
  position: absolute;
  transform: rotate(270deg);
  font-size: 16px;
  letter-spacing: 2px;
  left: 15%;
  top: 2%;
  transition: 0.5s all ease-in-out;
  animation: animation1 4s forwards; 
}


.typesContainer .types{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.logoType{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.logoType>img{
   max-width: 51px;
}
.logoType>h5{
  margin: 0;
  margin-top: 2px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
}


.statsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.stats{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}
.statsContainer>h3{
    margin: 0;
    font-size: 17px;
}



.hp, .defense, .speed, .strength{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    gap: 10px;
}

.wh{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

@keyframes animation1{
  15%{
    transform: rotate(270deg);
    opacity: 1;
  }
  30%{
    transform: rotate(270deg);
    opacity: 1;
    left: 15%;
    top: 2%;
  }
  40%{
    transform: rotate(0deg);
    top: 4%;
    left: 10%;
    opacity: 1;
  }
  85%{
    opacity: 1;
    transform: rotate(0deg);
    top: 4%;
    left: 10%;
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
    top: 4%;
    left: 10%;
  }
}


@keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateX(-250px);
    }
    70% {
        opacity: 1;
        transform: translateX(40px);
      }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

