
body{
  /* background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);   */
  background-size: cover; 
}  
.App {
  min-height: 100vh;
}

/*types colors*/

.fire{
  color: rgb(212, 0, 0);
}
.poison{color: rgb(102, 9, 66)}
.grass{color: darkgreen}
.flying{color: rgb(6, 46, 58)}
.water{color: rgb(0, 130, 173)}
.bug,.ground{color: rgb(83, 54, 0)}
.fairy{color: rgb(255, 133, 154)}
.electric{color: rgb(224, 224, 0)
}
.normal{color: rgb(70, 70, 70)}