.menu{
    width: 2.2 rem;
    height: 2.7rem;
    position: fixed;
    background: transparent;
    width: 25px;
    top: 50%;
    left: 0%;
    text-align: center;
    transition: left 0.7s;   
}
.menu>img{
    width: 25px;
}
.checkbox:checked ~ .menu>img{
    transform: scaleX(-1);
}
.checkbox:checked ~ .menu{
    left: 10%;
    border-radius: 0 0.5rem 0.5rem 0;
}
.leftPanel{
    width: 10%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: left 0.4s;
}
.checkbox:checked ~ .leftPanel{
    left: 0;
}

.checkbox{
    display: none;
}


.orderBy{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.filterBy{
    display: flex;
    flex-direction: column;
    text-align: center;
}