@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
textarea:focus, input:focus, select:focus{
    outline: none;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid white;
    text-shadow: 3px 0px 7px rgba(231, 139, 111, 0.8), -3px 0px 7px rgba(231, 139, 111, 0.8), 0px 4px 7px rgba(231, 139, 111, 0.8);
}
span{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    text-shadow: 3px 0px 7px rgba(231, 139, 111, 0.8), -3px 0px 7px rgba(231, 139, 111, 0.8), 0px 4px 7px rgba(231, 139, 111, 0.8);
}
select{
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
.menu{
    width: 2.3rem;
    height: 2.7rem;
    position: fixed;
    background: transparent;
    width: 25px;
    top: 50%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: left 0.5s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient( 90deg,  rgba(238,64,53,255)  0.4%, rgba(245,177,97,1) 120.2% );
}
.menu>img{
    width: 20px;
}
.checkbox:checked ~ .menu>img{
    transform: scaleX(-1);
}
.checkbox:checked ~ .menu{
    left: 10%;
    border-radius: 0 0.5rem 0.5rem 0;
}
.leftPanel{
    width: 10%;
    height: 300px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: -40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: left 0.4s;
    border: 1px solid grey;
    border-right: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(238,64,53,255) 65.2% );
}
.checkbox:checked ~ .leftPanel{
    left: 0;
}

.checkbox{
    display: none;
}


.orderBy{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.filterBy{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filterByContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}